﻿
@{
    ViewBag.Title = "Gmap";
}

<h2>Gmap</h2>
@ViewBag.Message
<!--Untuk Google map-->
<style>
    #map {
        height: 500px;
        width:500px;
    }

    
</style>
<!DOCTYPE html>
<center class="row">
    <div id="map"></div>
    <!--
    <script>
        let map;

        function initMap() {
            map = new google.maps.Map(document.getElementById("map"), {
                center: { lat: -6.972760, lng: 110.411030 },
                zoom: 19,
            });
        }
    </script>
        -->
    <script>
        let map, infoWindow;

        function initMap() {
            map = new google.maps.Map(document.getElementById("map"), {
                center: {
                    lat: -6.972760,
                    lng: 110.411030
                },
                zoom: 19,
            });
            infoWindow = new google.maps.InfoWindow();
            const locationButton = document.createElement("button");
            locationButton.textContent = "Pan to Current Location";
            locationButton.classList.add("custom-map-control-button");
            map.controls[google.maps.ControlPosition.TOP_CENTER].push(locationButton);
            locationButton.addEventListener("click", () => {
                // Try HTML5 geolocation.
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(
                        (position) => {
                            const pos = {
                                lat: position.coords.latitude,
                                lng: position.coords.longitude,
                            };
                            infoWindow.setPosition(pos);
                            infoWindow.setContent("Location found.");
                            infoWindow.open(map);
                            using()
                            map.setCenter(pos);
                        },
                        () => {
                            handleLocationError(true, infoWindow, map.getCenter());
                        }
                    );
                } else {
                    // Browser doesn't support Geolocation
                    handleLocationError(false, infoWindow, map.getCenter());
                }
            });
        }

        function handleLocationError(browserHasGeolocation, infoWindow, pos) {
            infoWindow.setPosition(pos);
            infoWindow.setContent(
                browserHasGeolocation ?
                    "Error: The Geolocation service failed." :
                    "Error: Your browser doesn't support geolocation."
            );
            infoWindow.open(map);
        }

    </script>
    <script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDsEDeGhyCHfLJf6o2VoJG37osK_v4fUzU&callback=initMap"></script>
</center>