﻿
@{
    ViewBag.Title = "Welcome to My Dentist";
}

<h2>LoggedIndex</h2>

Welcome @HttpContext.Current.User.Identity.Name

@if(Request.IsAuthenticated)
{
    using(Html.BeginForm("Logout","UserPatient",FormMethod.Post,new { id="logoutForm"}))
    {
        <a href="javascript:document.getElementById('logoutForm').submit()">Logout</a>
    }
}