﻿
@{
    ViewBag.Title = "ForgotPassword";
}

<h2>ForgotPassword</h2>

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <hr />
        <div class="text-danger">
            @ViewBag.Message
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Email </label>
            @Html.TextBox("Email","",new { @class="form--control"})
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-push-10">
                <input type="submit" value="Submit" class="btn btn-success" />
                <input type="button" value="Cancel" class="btn btn-default" onclick="location.href = '@Url.Action("Login","UserPatient","Login")'" />
            </div>
        </div>
    </div>
}